services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis

  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_KEY}
    depends_on:
      - web

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
